.log-in {
    .login-box {
        margin-top: 100px;
        background-color: #868b894a;
        padding: 50px;

        img {
            width: 100%;
        }

        .meow-script-regular {
            font-family: "Meow Script", cursive;
            font-weight: 400;
            font-style: normal;
        }

        h4 {
            font-size: 90px;
            text-align: center;
            margin-top: 60px;
        }

        label {
            margin-left: 40px;
        }

        input {
            width: 80%;
            border: none;
            border-radius: 7px;
            padding: 10px;
            margin-left: 40px;
        }


        .finger-paint-regular {
            font-family: "Finger Paint", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .submit-btn {
            text-align: center;
            margin-top: 20px;
            color: #000;
            font-weight: 600;
            font-size: 20px;
            width: 100%;
            border-radius: 0px;
            padding: 10px 0px;
        }
    }

}